#previewImage {
  margin-top: 20px;
}

#downloadButton, #editButton, #deleteButton {
  margin-top: 10px;
}

#reviewsSection {
  margin-top: 40px;
}

#addReviewDiv {
  margin-bottom: 10px;
}

#reviews {
  margin-top: 20px;
}

.stars {
  font-size: 17px;
}

.star {
  margin-right: 3px;
}

.star:hover {
  cursor: pointer;
}