<div id="header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Easy Design</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Discover</a></li>
        <li><a href="#">Upload</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dave Hulme <i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>